<div class="container-fluid scrollable-container">
  <h2>Criar nova partida</h2>
  <form [formGroup]="partidaForm" (ngSubmit)="salvarPartida()" class="mt-4">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="data" class="form-label">Data:</label>
          <input type="date" id="data" formControlName="data" class="form-control">
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="local" class="form-label">Local:</label>
          <input type="text" id="local" formControlName="local" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <!-- TIME A -->
      <div class="col">
        <div class="mb-6">
          <label for="jogadoresTimeA" class="form-label">Jogadores Time A:</label>
          <!-- <select id="jogadoresTimeA" class="form-select"> -->
          <select id="jogadoresTimeA" class="form-select" (change)="adicionarJogadorTimePorEvento($event, 'a')">
            <option selected> Selecione o jogador</option>
            <option *ngFor="let jogador of jogadores" [value]="jogador.id">{{ jogador.nome }}</option>
          </select>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nome time A</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let jogador of jogadoresTimeA">
              <td>
                <div >
                  <button type="button" class="btn w-100 h-100 text-start" (click)="fixarJogadorNoTime(jogador)">{{ jogador.nome }}
                  </button>
                </div>
                <span class="small-text" *ngIf="jogador.jogos && !jogador.fixo">
                  V:{{arredondaValor(jogador.vitoriaPorJogo)}}|
                  G:{{arredondaValor(jogador.golsPorJogo)}}|
                  A:{{arredondaValor(jogador.assistenciaPorJogo)}}
                </span>
              </td>
              <td>
                <div class="btn-group-vertical" *ngIf="!jogador.fixo">
                  <button type="button" style="float: right;" class="btn btn-warning btn-sm" (click)="trocarJogadorDeTime(jogador)">
                    <i class="bi bi-arrow-bar-right"></i>
                  </button>
                  <button type="button" style="float: right;" class="btn btn-danger btn-sm" (click)="removerJogadorTime(jogador, 'a')">
                    <i class="bi bi-ban"></i>
                  </button>
                </div>
                <div *ngIf="jogador.fixo" class="btn-group-vertical">
                  <button type="button" class="btn btn-info btn-sm" (click)="fixarJogadorNoTime(jogador)">
                    <i class="bi bi-person-fill-lock" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-info btn-sm" (click)="fixarJogadorNoTime(jogador)">
                    <i class="bi bi-person-lock" aria-hidden="true"></i>
                  </button>
                </div>
              </td>

              </tr>
            </tbody>
          </table>
        </div>
        <!-- TIME B -->
        <div class="col">
          <div class="mb-6">
          <label for="jogadoresTimeB" class="form-label">Jogadores Time B:</label>
          <select id="jogadoresTimeB" class="form-select" (change)="adicionarJogadorTimePorEvento($event, 'b')">
            <option selected> Selecione o jogador</option>
            <option *ngFor="let jogador of jogadores" [value]="jogador.id">{{ jogador.nome }}</option>
          </select>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nome time B</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let jogador of jogadoresTimeB">
              <td>
                <div>
                  <button type="button" class="btn w-100 h-109 text-start" (click)="fixarJogadorNoTime(jogador)">{{ jogador.nome }}</button>
                  <span class="small-text" *ngIf="jogador.jogos && !jogador.fixo">
                    V:{{arredondaValor(jogador.vitoriaPorJogo)}}|
                    G:{{arredondaValor(jogador.golsPorJogo)}}|
                    A:{{arredondaValor(jogador.assistenciaPorJogo)}}
                  </span>
                </div>
              </td>
              <td>
                <div class="btn-group-vertical" *ngIf="!jogador.fixo">
                  <button type="button" style="float: right;" class="btn btn-warning btn-sm" (click)="trocarJogadorDeTime(jogador)">
                    <i class="bi bi-arrow-bar-left"></i>
                  </button>
                  <button type="button" style="float: right;" class="btn btn-danger btn-sm" (click)="removerJogadorTime(jogador, 'b')">
                    <i class="bi bi-ban"></i>
                  </button>
                </div>
                <div *ngIf="jogador.fixo" class="btn-group-vertical">
                  <button type="button" class="btn btn-info btn-sm" (click)="fixarJogadorNoTime(jogador)">
                    <i class="bi bi-person-fill-lock" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-info btn-sm" (click)="fixarJogadorNoTime(jogador)">
                    <i class="bi bi-person-lock" aria-hidden="true"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" (click)="preencherComMensalistas()" class="btn btn-warning">
          Preencher
          <i class="bi bi-person-fill-down"></i>
        </button>
      </div>
      <div class="col" *ngIf="jogadoresTimeA.length+jogadoresTimeB.length > 0">
        <button type="button" (click)="equilibrarTimes()" class="btn btn-info">
          Equilibrar
          <i class="bi bi-fire"></i>
        </button>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary" style="float: right;">
          Salvar
          <i class="bi bi-floppy"></i>
        </button>
      </div>
    </div>


  </form>
</div>
