<div class="container">
    <h2>Tabela de Estatísticas</h2>
    <p>Clique no nome das colunas para ordenar</p>

    <div class="row mb-3">
        <div class="col-md-6 col-sm-12 mb-2">
            <label for="dataInicial" class="form-label">Data Inicial:</label>
            <div class="input-group">
                <select id="anoInicial" class="form-select" [(ngModel)]="anoInicial" (change)="atualizarDataInicial()">
                    <option *ngFor="let ano of anos" [value]="ano">{{ ano }}</option>
                </select>
                <select id="mesInicial" class="form-select" [(ngModel)]="mesInicial" (change)="atualizarDataInicial()">
                    <option *ngFor="let mes of meses" [value]="mes.valor">{{ mes.nome }}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 mb-2">
            <label for="dataFinal" class="form-label">Data Final:</label>
            <div class="input-group">
                <select id="anoFinal" class="form-select" [(ngModel)]="anoFinal" (change)="atualizarDataFinal()">
                    <option *ngFor="let ano of anos" [value]="ano">{{ ano }}</option>
                </select>
                <select id="mesFinal" class="form-select" [(ngModel)]="mesFinal" (change)="atualizarDataFinal()">
                    <option *ngFor="let mes of meses" [value]="mes.valor">{{ mes.nome }}</option>
                </select>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th (click)="ordenarPor('jogador.nome')">Jogador</th>
                <th (click)="ordenarPor('jogos')">Jogos</th>
                <th (click)="ordenarPor('gols')">Gols</th>
                <th (click)="ordenarPor('assistencia')">Assis</th>
                <th (click)="ordenarPor('golContra')">G. Contra</th>
                <th (click)="ordenarPor('vitorias')">Vitórias</th>
                <th (click)="ordenarPor('derrotas')">Derrotas</th>
                <th (click)="ordenarPor('empates')">Empates</th>
                <th (click)="ordenarPor('destaque')">Destaques</th>
                <th (click)="ordenarPor('bolaMurcha')">Bola Murcha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let estatistica of estatisticas">
                <td>{{ estatistica.jogador.nome }}</td>
                <td>{{ estatistica.jogos }}</td>
                <td>{{ estatistica.gols }}</td>
                <td>{{ estatistica.assistencia }}</td>
                <td>{{ estatistica.golContra }}</td>
                <td>{{ estatistica.vitorias }}</td>
                <td>{{ estatistica.derrotas }}</td>
                <td>{{ estatistica.empates }}</td>
                <td>{{ estatistica.destaque }}</td>
                <td>{{ estatistica.bolaMurcha }}</td>
            </tr>
        </tbody>
    </table>
</div>