<div class="container mt-4">
  <h2>Lista de Partidas</h2>
  <button *ngIf="isLoggedIn" class="btn btn-primary mb-3" (click)="criarNovaPartida()">Nova Partida</button>
  <table class="table">
    <thead>
      <tr>
        <th>Data / Status</th>
        <th>Local</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let partida of partidas">
        <tr>
          <td [class.font-custom]="partida?.status == 1">{{ partida.data }} / {{partida?.status == 0 ? "Aberto" : "Encerrada"}}</td>
          <td>{{ partida.local }}</td>
          <td style="display: inline-grid;">
            <button class="btn btn-info btn-sm" (click)="toggleDetalhes(partida)">Ver Detalhes</button>
          </td>
        </tr>
        <tr *ngIf="partida.expandido">
          <td colspan="4">
            <div>
              <!-- Detalhes da partida aqui -->
              <h4 id="time-a" style="color:black">Time A ({{partida.totalGolsTimeA}})
                <a href="#time-b" class="float-right" *ngIf="partida?.status == 0">Ir para Time B</a>
              </h4>
              <table class="table table-centered">
                <thead>
                  <tr class="centered">
                    <th>Nome</th>
                    <th>Gols ({{partida.totalGolsTimeA}})</th>
                    <th>Assis ({{partida.totalAssistenciasTimeA}})</th>
                    <th>Cont ({{partida.totalGolsContraTimeA}})</th>
                    <th *ngIf="partida?.status == 0">Remover </th>
                  </tr>
                </thead>
                <tbody class="detalhes">
                  <tr *ngFor="let jogador of partida.timeA">
                    <td [class.bg-custom]="jogador.destaque ? true : false" [class.bg-bola-murcha]="jogador.bolaMurcha ? true : false" class="centered">
                      {{ jogador.nome }}
                      <span *ngIf="jogador.destaque" title="Melhor da Partida"> ⭐</span>
                      <span *ngIf="jogador.bolaMurcha" title="Bola Murcha"> 🎈</span>
                    </td>
                    <td>
                        <button *ngIf="partida?.status == 1" class="btn btn-sm mx-1 " >{{ jogador.gol }}</button>
                        <button *ngIf="partida?.status == 0 && isLoggedIn" (click)="atualizarPartidaGol(partida.id, jogador.id, 1, 'A')"
                        class="btn btn-success btn-sm mx-1 ">{{ jogador.gol }}</button>
                    </td>
                    <td>
                        <button *ngIf="partida?.status == 1" class="btn btn-sm mx-1 ">{{ jogador.assistencia }}</button>
                        <button *ngIf="partida?.status == 0 && isLoggedIn" (click)="atualizarPartidaAssitencia(partida.id, jogador.id, 1, 'A')"
                        class="btn btn-warning btn-sm mx-1 ">{{ jogador.assistencia }}</button>
                    </td>
                    <td>
                        <button *ngIf="partida?.status == 1" class="btn btn-sm mx-1 ">{{ jogador.golContra }}</button>
                        <button *ngIf="partida?.status == 0 && isLoggedIn" (click)="atualizarPartidaGolContra(partida.id, jogador.id, 1, 'A')"
                        class="btn btn-danger btn-sm mx-1 ">{{ jogador.golContra }}</button>
                    </td>
                    <td>
                      <div class="btn-group" *ngIf="partida?.status == 0 && isLoggedIn" >
                        <button class="btn btn-success btn-sm mx-0 " (click)="atualizarPartidaGol(partida.id, jogador.id, 0, 'A')"><b>-</b></button>
                        <button class="btn btn-warning btn-sm mx-0 " (click)="atualizarPartidaAssitencia(partida.id, jogador.id, 0, 'A')"><b>-</b></button>
                        <button class="btn btn-danger btn-sm mx-0 " (click)="atualizarPartidaGolContra(partida.id, jogador.id, 0, 'A')"><b>-</b></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h4 id="time-b" style="color:black">Time B ({{partida.totalGolsTimeB}})
                <a href="#time-a" class="float-right" *ngIf="partida?.status == 0" >Ir para Time A</a>
              </h4>
              <table class="table table-centered">
                <thead>
                  <tr class="centered">
                    <th>Nome</th>
                    <th>Gols ({{partida.totalGolsTimeB}})</th>
                    <th>Assis ({{partida.totalAssistenciasTimeB}})</th>
                    <th>Cont ({{partida.totalGolsContraTimeB}})</th>
                    <th *ngIf="partida?.status == 0">Remover </th>
                  </tr>
                </thead>
                <tbody class="detalhes">
                  <tr *ngFor="let jogador of partida.timeB">
                    <td [class.bg-custom]="jogador.destaque ? true : false" [class.bg-bola-murcha]="jogador.bolaMurcha ? true : false" class="centered">
                      {{ jogador.nome }}
                      <span *ngIf="jogador.destaque" title="Melhor da Partida"> ⭐</span>
                      <span *ngIf="jogador.bolaMurcha" title="Bola Murcha"> 🎈</span>
                    </td>
                    <td>
                        <button *ngIf="partida?.status == 1" class="btn btn-sm mx-1 " >{{ jogador.gol }}</button>
                        <button *ngIf="partida?.status == 0 && isLoggedIn" (click)="atualizarPartidaGol(partida.id, jogador.id, 1, 'B')"
                        class="btn btn-success btn-sm mx-1 ">{{ jogador.gol }}</button>
                    </td>
                    <td>
                        <button *ngIf="partida?.status == 1" class="btn btn-sm mx-1 ">{{ jogador.assistencia }}</button>
                        <button *ngIf="partida?.status == 0 && isLoggedIn" (click)="atualizarPartidaAssitencia(partida.id, jogador.id, 1, 'B')"
                        class="btn btn-warning btn-sm mx-1 ">{{ jogador.assistencia }}</button>
                    </td>
                    <td>
                        <button *ngIf="partida?.status == 1" class="btn btn-sm mx-1 ">{{ jogador.golContra }}</button>
                        <button *ngIf="partida?.status == 0 && isLoggedIn" (click)="atualizarPartidaGolContra(partida.id, jogador.id, 1, 'B')"
                        class="btn btn-danger btn-sm mx-1 ">{{ jogador.golContra }}</button>
                    </td>
                    <td>
                      <div class="btn-group" *ngIf="partida?.status == 0 && isLoggedIn" >
                        <button class="btn btn-success btn-sm mx-0 " (click)="atualizarPartidaGol(partida.id, jogador.id, 0, 'B')"><b>-</b></button>
                        <button class="btn btn-warning btn-sm mx-0 " (click)="atualizarPartidaAssitencia(partida.id, jogador.id, 0, 'B')"><b>-</b></button>
                        <button class="btn btn-danger btn-sm mx-0 " (click)="atualizarPartidaGolContra(partida.id, jogador.id, 0, 'B')"><b>-</b></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button (click)="selecionarPartidaEncerrar(partida)" *ngIf="partida?.status == 0 && isLoggedIn" style="float:left;" class="btn btn-danger btn-sm"
                data-bs-toggle="modal" data-bs-target="#melhorDaPartidaModal">Encerrar</button>
              <button *ngIf="partida?.status == 0 && isLoggedIn" style="float:right;" class="btn btn-success btn-sm"
                (click)="salvarPartida(partida)">Salvar</button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <!-- Modal de criação de jogador -->
  <div class="modal fade" id="melhorDaPartidaModal" tabindex="-1" aria-labelledby="melhorDaPartidaModal"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="melhorDaPartida">Encerrar Partida</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" id="fecharMelhorDaPartidaModal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group mb-3">
            <label for="selectJogador" class="form-label">Selecione o melhor da partida:</label>
            <select class="form-select" id="selectJogador" [(ngModel)]="jogadorSelecionado">
              <option value="">Selecione...</option>
              <option *ngFor="let jogador of melhorDaPartidaTemp" [value]="jogador.id">{{ jogador.nome }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="selectBolaMurcha" class="form-label">Selecione o "Bola Murcha" (pior da partida):</label>
            <select class="form-select" id="selectBolaMurcha" [(ngModel)]="jogadorBolaMurchaSelecionado">
              <option value="">Selecione...</option>
              <option *ngFor="let jogador of melhorDaPartidaTemp" [value]="jogador.id">{{ jogador.nome }}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
            (click)="salvarMelhorPartida()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>
